<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
</head>

<body>
    <%- include('./partials/name.ejs') %>
        <h1>DashBoard</h1>
        <p>this is your personal dashboard, do as you please</p>

        <a href="/register">Create Account</a>
</body>

</html>
